{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}"/>
<html>
<head>
<title>PLANT MONITORING SYSTEM</title>
 
<body  style="height:100vh;" >
<header>
   <h1 style="color:white;">PLANT MONITORING SYSTEM</h1>
   <h2 style="color:white;" >(GROUP NO-06)</h2>
</header>
<br><blockquote><div id="plant1"></div>
&emsp;&emsp;<button class="button"onclick="window.open('{{plant}}/', '_self')"><span>PLANT1 </span></button></BLOCKQUOTE>
<blockquote><div id="plant1"><div><br>
&emsp;&emsp;<button class="button"onclick="window.open('{{plant1}}/', '_self')"><span>PLANT2</span></button></blockquote>


</body>
</html>
